<div class="displayTable">
  <div class="displayTableCell">

    <div class="px-logo">
      <a href="" target="_blank">
        <img src="https://img.icons8.com/bubbles/452/google-docs.png" alt="positronX.io - Learn Full Stack Development">
      </a>
    </div>

    <div class="authBlock">
      <h3>Inscription</h3>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Inscription" (click)="authService.SignUp(userEmail.value, userPwd.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Ou</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Se connecter avec Google
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>dejà inscrit? <span class="redirect" routerLink="/sign-in">se connecter</span></span>
    </div>
  </div>

</div>
