<div class="displayTable">
  <div class="displayTableCell">

    <div class="px-logo">
      <a href="https://www.positronx.io" target="_blank">
        <img src="https://img.icons8.com/bubbles/452/google-docs.png" alt="positronX.io - Learn Full Stack Development">
      </a>
    </div>

    <div class="authBlock">
      <h3>Connexion</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Email" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Mot de passe" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Connexion" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Ou</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Se connecter avec Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Mot de passe oublié?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Pas de compte?<span class="redirect" routerLink="/register-user"> S'inscrire</span></span>
    </div>

  </div>
</div>
